.name {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.wrapper:hover {
    .name {
        transform: translateY(-2em);
    }
}
